.footer {
    background-color: #1072a9;
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

.footer p {
    margin: 0 2rem;
}